* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  --background-color: #ffffff;
  --primary-color: #008080;
  --text-color: #f3f3f3;
  --text-color-dark: #575757;
  --text-color-dark2: #1e1e1e;
  --logo-color: #2b2b2b;
  --padding: 15px 35px;
  --rectangle:#E0F8F8;
}
body {
  background: var(--background-color);
}
main {
  padding: var(--padding);
}

.head {
  margin: 20px 25px 25px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo img {
  width: 30px;
  height: auto;
}
.logo h3 {
  color: var(--logo-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.Singin-btn .btn1 {
  background: none;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  color: var(--primary-color);
}
.Singin-btn .btn2 {
  padding: 10px 20px;
  color: white;
  background-color: var(--primary-color);
  border: none;
}
.hero-section {
  display: flex;
}
.hero-section h1 {
  font-size: 86px;
  line-height: 80px;
}
.hero-section .Glo {
  color: var(--primary-color);
}
.hero-section p {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 60px;
}
.hero-image1 img {
  width: 250px;
  height: auto;
  transform: translateX(130%) scale(2) translateY(20%);
}
.company-logo img {
  width: 1300px;
  height: auto;
  padding: var(--padding);
  margin-top: 40px;
  margin-bottom: 60px;
}

.gmail .btn3 {
  border: none;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
}
.gmail input {
  padding: 10px 20px;
  border: 2px;
  text-decoration: none;
}
/* .second-sec1{
  padding: var(--padding);
} */

.second-sec1 {
  display: flex;
}

.second-sec1-sub {
  display: flex;
}

.second-sec1 h6{
  color: var(--primary-color);
  background:var(--rectangle);
  width: 100px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.Expertise{
  display: flex;
  align-items: center;
  gap: 10px;
}
.line{
  width: 60px;
  height: 2px;
  background-color: var(--primary-color);
}
.surbodinate-section{
font-style: Bold;
font-size: 20px;
}

.service-btn{
  border: none;
}
.service-btn .padding {
  margin-top: 20px;
  padding: var(--padding);
}

.hero-img-down img {
  width: 250px;
  height: 250px;
  background-color: var(--rectangle);
  border-radius: 35px 4px 35px 4px;
  /* transform: translateX(340%) scale(2) translateY(-62%); */
}

/* .hero-img-down2{
  padding: var(--padding);
} */
.hero-img-down2 img{
  width: 250px;
  height: 250px;
  
}
